global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    #stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend localnodes-http
    bind *:80
    # force ssl
    # disabled oct 2016 by tmorgan
#    redirect scheme https code 301 if !{ ssl_fc }
    # this redirect for wishlist isn't working... -tmorgan oct2016
#    redirect location /wishlist Link: https://amzn.com/w/171DYKCPHSBCP code 301 
    default_backend webservers

frontend localnodes-https
    bind *:443 ssl crt /etc/haproxy/ssl/chalkdust.org.pem
    default_backend webservers

backend webservers
    balance roundrobin
    server web1 10.240.0.5:80 check
    server web2 10.240.0.6:80 check

# for a stats site
listen stats :8080
    mode http
    stats enable
    stats uri /
    stats realm HAProxy\ Stats
    stats auth cdust:sf82has9
